
.home-page {}

.home-content {
    --overflow: hidden;
}

.vertical-scroller {
    height: 100%;

    position: relative;

    transition: all 1s ease-in-out;

    &.page-0 { top: 0vh; }

    &.page-1 { top: -100vh; }

    &.page-2 { top: -200vh; }
}

.scroller-page {
    height: 100%;
}

.scroller-button {
    position: absolute;

    transition: transform 1s ease;

    left: 50%;

    transform: translateX(-50%);

    &.down { transform: translateX(-50%) translateY(calc(-100% - 20px)) rotate(0deg); }

    &.up { transform: translateX(-50%) translateY(calc(100% - 20px)) rotate(180deg); }
}


.scroller-button-icon {

}
