@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');

.footer-intro {}

.footer-title {
    display: block;

    margin-top: 12vh;
    padding: 0px 12vw; 

    font-size: calc(1rem + 2vw);
    font-family: 'Bona Nova', serif;

    text-align: center;
}

.footer-page {
    height: 100%;

    position: relative;
}

.footer-content {
    width: 65vw;
    height: 60vh;

    overflow: auto;

    background: transparent;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-icon {}

.title-col {
    text-align: center;

    font-size: calc(1rem + 2vw);
    font-family: 'Bona Nova', serif;
}