
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');

.title-page {
    height: 100%;
}

.title-content {
    height: 100%;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    transform: translateY(-50%);
    transition: all .25s ease;

    text-align: center;

    max-width: 800px;
    width: 60%;
    min-width: 280px;

    height: 10rem;

    margin: auto;
    padding: 0px 20px;

    background: #ffd11a;

    cursor: pointer;
    z-index: 1;

    &:hover {
        transform: translateY(-50%) scale(1.04);
    }

    &.active { 
        box-shadow: 0px 0px 0px 0px #ffdb4d; 
        transform: translateY(-50%) scale(1.04);
        top: 40%;
    }

    &.inactive { 
        box-shadow: 8px 8px 0px 0px #ffdb4d; 
        top: 50%;
    }
}

.title {
    font-size: calc(3rem + 1.5vw);
    font-family: 'Bona Nova', serif;

    color: #000000;
}

.title-dropdown {
    position: relative;
    transition: all .25s ease;

    max-width: 800px;
    width: 60%;
    min-width: 280px;

    height: 10rem;

    margin: auto;
    padding: 0px 20px;

    background: #ffdb4d;

    &.open { 
        transform: translateY(-50%); 
        top: 40%;
    }

    &.closed { 
        transform: translateY(calc(-50% - 10rem)); 
        top: 50%;
    }
}

.dropdown-title {}

.dropdown-paragraph {}