@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');

.slide-container {
    width: 65vw;
    height: 65vh;

    padding: calc(2rem + 1vw);

    font-size: calc(1rem + 1.5vw);
    font-family: 'Bona Nova', serif;

    background: #ffd633;
    color: #000000;
    
    user-select: none;

    border-radius: 4rem 2rem;
}


